<nav class="auth-navbar">
  <div class="container">

    <a class="brand" routerLink="/">
      <i class="fa-solid fa-store"></i>
      <span>FakeStore</span>
    </a>

    <div class="auth-links">

      <a
        routerLink="/auth"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="auth-link"
      >
        <i class="fa-solid fa-right-to-bracket"></i>
        <span>Sign In</span>
      </a>

      <a
        routerLink="/auth/signup"
        routerLinkActive="active"
        class="auth-link"
      >
        <i class="fa-solid fa-user-plus"></i>
        <span>Sign Up</span>
      </a>

    </div>

  </div>
</nav>